/* User content is used to style individual pages, such as about:blank or about:home */
@-moz-document url(about:home), url(about:newtab) {
    body {
        background-color: #2a2a2e !important;
    }
    input {
        color: #CCC !important;
        background-color: #3a3a3e !important;
    }
}
